div#history, div#profile{
    display: inline-block;
    vertical-align: top;
}
img#avatar{
    width: 15em;
    margin: 0px auto;
    border: 1px solid #070404;
}
label.block{
    margin: 10px 0;
}
body {
    font-family: 'Nunito', sans-serif;
}
div.info{
    width: 10em;
    text-align: center;
    border: 1px solid black;
    border-radius: 11px 11px;

}
div.order{
    margin: 0px 10px;
}
div#history{
    margin: 15px 15px;
    width: 72%;
}
div#profile{
    width: 25%;
    background-color: #e0e0e0;
    padding: 30px 15px;
    float: right;
}
div#nav{
    border-bottom: 1px solid #A2A2A2FF; margin-bottom: 10px; padding: 0 0 5px 10px; display: flex;
}
div#filter{
    margin-left: auto;
}
div#filter>label>input[type='date']{
    width: 150px;
}
*{
    box-sizing: border-box;
}
div.sociallinks{
    margin-left: 15px;
}
div#links{
    margin-left: 55px;
}
div.sale-basket-icons-item-wrapper{
    margin: 0px 35px;
}
div#footer-box-up{
    background-color: #333333;
    color: #FFFFFF;
}
div#footer-box-down{
    background-color: #282828;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
}
footer{
    margin-top: -48px;
}

