html,body{
    height: 100%;
    scroll-behavior: smooth;
    min-width: 1260px;
}
div#history, div#profile{
    display: inline-block;
    vertical-align: top;
}
img#avatar{
    width: 15em;
    margin: 0px auto;
    border: 1px solid #070404;
}
label.block{
    margin: 10px 0;
}
body {
    font-family: 'Nunito', sans-serif;
}
div.info{
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    margin: 0px 0px 15px 0px;
}
div.order{
    margin: 0px 10px;
}
div#history{
    padding: 15px 15px;
    width: 75%;
}
div#profile{
    width: 25%;
    background-color: #e0e0e0;
    padding: 30px 15px 15px 15px;
    float: right;
}
div#nav{
    border-bottom: 1px solid #A2A2A2FF;
    margin-bottom: 10px;
    padding: 0 0 5px 10px;
    display: flex;
}
div#filter{
    margin-left: auto;
}
div#filter>label>input[type='date']{
    width: 150px;
}
*{
    box-sizing: border-box;
}
div.sociallinks{
    margin-left: 15px;
}
div#links{
    margin-left: 55px;
}
div.sale-basket-icons-item-wrapper{
    margin: 0px 35px;
}
div#footer-box-up{
    background-color: #333333;
    color: #FFFFFF;
}
div#footer-box-down{
    background-color: #282828;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
}
footer{
    margin-top: -48px;
}
div#menu{
    display: none;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 65px;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    overflow: hidden;
}
div#gototop{
    position: fixed;
    width: 1216px;
    height: 40px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
}
div#indicator:hover {
    background-color: #eb8275;
    border-radius: 50px;
}
div#indicator{
    border-radius: 50px;
    display: flex;
    background-color: #f5b2aa;
    width: 40px;
    height: 40px;
    z-index: 999;
    position: absolute;
    right: 25px;
    bottom: 15px;
}
ul#menu_ul li{
    border-bottom: 1px solid #e0dfdf;
    padding: 10px 20px 10px 15px;
}
ul#menu_ul li:hover:hover{
    background-color: #e0dfdf;
}
div.cart_product_block{
    border-radius: 8px;
    clear: both;
    padding: 30px 10px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 18%);
    display: flex;
}
div.cart_product_block div.width0{
    width: 0px;
}
div.cart_product_block div.width0 input[type = checkbox]{
    position: relative;
    top: -25px;
}
div.cart_product_info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
div.changes_position{
    border: 1px solid #afafaf;
    border-radius: 5px;
    width: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
div.changes_position input{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: calc(100% / 3);
    line-height: 33px;
    -webkit-appearance: none;
    height: 100%;
    margin: 0 auto;
    border: none;
    background: transparent;
    color: #4e4e4e;
    font-size: 16px;
    outline: none;
}
div.changes_position button{
    text-align: center;
    width: 30px;
    font-size: 25px;
    margin: auto;
}
div.changes_position button:hover{
    text-align: center;
    width: 30px;
    font-size: 25px;
    margin: auto;
    background-color: #e1e1e1;
    border-radius: 5px;
}
div#delete{
    display: none;
}
button.button_delete{
    text-decoration: underline;
    color:#2d3748;
    font-size: 14px;
}
div.cart_product_description{
    display: flex;
    font-size: 16px;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
}
div.cart_product_price{
    padding: 0px 10px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
div.cart_product_price div{
    text-align: right;
}
div.cart_product_counts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.menuTotal{
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0px 5px rgb(0 0 0 / 18%);
}
div.menuTotal div ul{
    width: 100%;
}
div.menuTotal div ul li{
    border-bottom:1px solid rgba(168, 165, 165, 0.38);
    width: 100%;
    padding: 15px;
}
li#itog{
    font-size: 18px;
    font-weight: bold;
}
li#pickTime{
    text-decoration: underline #000000;
    cursor: pointer;
}
button#buttonOrder{
    padding: 15px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    background-color: #FFBEB5;
    border-radius: 10px;
}
div#logInForm{
    display: none;
}


